@media screen and (min-width:1024px) {
    .presentation_wrapper {
        height: 50vh;
    }
    #profil_pic {
    display: block;
    max-height: 100px;
}
    .presentation_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    .catch_wrapper p {
    font-size: 20px;
}
    #emphasize_text {
    font-size: 31px;
}
    .contact_button {
        margin-top: 1em;
    }
    .catch_wrapper {
        top: 0;
    }
    .services_grid {
    display: grid;
   grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    text-align: center;
}
    .services_wrapper {
        height: 45vh;
    }
    h1 {
        font-size: 40px;
    }
    .services_wrapper {
     padding-bottom: 0px;
}
    footer {
    height: 5vh;
    background-color: #383838;
}
}
